@import 'https://fonts.googleapis.com/css?family=Amatica+SC|Indie+Flower|Slabo+27px|Lobster|Shadows+Into+Light';

/*Layer Classes */

body {
  background-color: #B1EDE8;
  border-color: #352D39;
  font-family: 'Shadows Into Light','Indie Flower','Slabo 27px', serif,  monospace;
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  overflow: auto;
  transition: background-color .2s ease;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 4%; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  font-family: 'Lobster','Slabo 27px', serif,  monospace;
}

/* The navigation menu links */

.sidenav h4 {
  padding: 5%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: -3%;
  right: 5%;
  font-size: 60px !important;
  margin-left: 50px;
  color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

.layout {
  background-color: inherit;
  width: 100%;
  margin-top: 2%;
}

.btnSection {
  background-color: inherit;
  width: auto;
  height: auto;
  margin-top: 2%;
}

.midSection {
  background-color: inherit;
  height: auto;
  width: auto;
  text-align: center;
  margin-top: 2%;
}

.box {
  height: auto;
  width: auto;
  display: none;
  border-left: 5px solid;
  border-right: 5px solid;
  border-radius: 0%;
  border-color: inherit;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

/*Buttons Classes */
.quoteBtn {
  color: red;
  background-color: inherit;
  width: auto;
  height: auto;
  font-size: 100%;
  text-align: center;
  margin: 1%;
  padding: auto;
  transition: all 0.8s ease;
  font-family: 'Slabo 27px', serif,  monospace;
  font-weight: bold;
  outline: none;
  border: none;
}

.quoteBtn:hover {
  transform: rotate(360deg)scale(1.5);
}

.quoteBtn:active {
  transform: rotate(-360deg)scale(1.5);
  transition: 0s;
}

.navBtn {
  color: inherit;
  background-color: inherit;
  width: auto;
  height: auto;
  font-size: 100%;
  text-align: center;
  margin: 1%;
  padding: auto;
  transition: all 0.8s ease;
  font-family: 'Slabo 27px', serif,  monospace;
  font-weight: bold;
  outline: none;
  border: none;
}

.navBtn:hover {
  transform: rotate(360deg)scale(1.5);
}

.navBtn:active {
  transform: rotate(-360deg)scale(1.5);
  transition: 0s;
}

.shareBtns {
  width: auto;
  padding-top: 2%;
  padding-left: 2%;
  border: 0;
  box-shadow: 0;
  display: none;
  transition: all .4s linear;
}

.shareBtns:hover {
  cursor:pointer;
  transform: rotate(360deg)scale(1.5);
}

.shareBtns:active {
  transform: rotate(-360deg)scale(1.5);
  transition: 0s;
}

.circle {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  margin: 1%;
}

.circle:hover {
  cursor:pointer;
  transform: scale(1.3);
}

.circle1 {
  background-color: #E5E4D7;
  border-color: #2C6700;
}

.circle2 {
  background-color: #FFAEAE;
  border-color: #000000;
}

.circle3 {
  background-color: #FF6978;
  border-color: #B1EDE8;
}

.circle4 {
  background-color: #B60D34;
  border-color: #ffffff;
}

.circle5 {
  background-color: #520C04;
  border-color: #F2F5F9;
}

.circle6 {
  background-color: #FF784F;
  border-color: #ffffff;
}

.circle7 {
  background-color: #FFE66D;
  border-color: #1A535C;
}

.circle8 {
  background-color: #FF8811;
  border-color: #000000;
}

.circle9 {
  background-color: #FFCC00;
  border-color: #3333FF;
}

.circle10 {
  background-color: #BAFF29;
  border-color: #1A1B41;
}

.circle11 {
  background-color: #29FF32;
  border-color: #000000;
}

.circle12 {
  background-color: #4F7540;
  border-color: #E8F3E5;
}

.circle13 {
  background-color: #103900;
  border-color: #F8F4E3;
}

.circle14 {
  background-color: #CCFFCC;
  border-color: #404040;
}

.circle15 {
  background-color: #B1EDE8;
  border-color: #352D39;
}

.circle16 {
  background-color: #88AB75;
  border-color: #ffffff;
}

.circle17 {
  background-color: #69DC9E;
  border-color: #0C0C0C;
}

.circle18 {
  background-color: #34DDDD;
  border-color: #000000;
}

.circle19 {
  background-color: #5C6B73;
  border-color: #C2DFE3;
}

.circle20 {
  background-color: #424242;
  border-color: #FCFC62;
}

.circle21 {

  background-color: #457EAC;
  border-color: #ffffff;
}

.circle22 {
  background-color: #1C3041;
  border-color: #18F2B2;
}

.circle23 {
  background-color: #1A535C;
  border-color: #F7FFF7;
}

.circle24 {
  background-color: #003366;
  border-color: #CCCCCC;
}

.circle25 {
  background-color: #392F5A;
  border-color: #9DD9D2;
}

/*Text Classes */

.header {
  font-size: 400%;
  text-align: center;
  transition: all 0.5s ease;
  font-family: 'Lobster', 'Slabo 27px', serif,  monospace;
}

.header:hover {
  transform: scale(1.2);
}

#themeLabel {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
}

#trade {
  font-size: 50%;
}

.quote {
  display: none;
  font-size: 200%;
}

.author {
  display: none;
  font-size: 150%;
  font-style: italic;
}
